<div class="cohort-bar">
    <span class="cohort-count" id="cohort-count">
        {{ n_patients_filtered | default(meta.n_patients) }} patients |
        {{ n_samples_filtered | default(meta.n_samples) }} samples
    </span>
    <button class="btn btn-default btn-xs" title="Custom Selection" disabled>
        <i class="fa fa-hand-pointer-o"></i> Custom Selection
    </button>
    <button class="btn btn-default btn-xs" title="Charts" disabled>
        <i class="fa fa-bar-chart"></i> Charts
    </button>
    <button class="btn btn-default btn-xs" title="Groups" disabled>
        <i class="fa fa-users"></i> Groups
    </button>
</div>
